.container {
  display: flex;
  padding: 0.5rem !important;
  flex-direction: column;
  height: 100%;
}

.contentContainer {
  flex: 1;
  background-color: var(--theme-background-color-grey-light);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.body {
  overflow: auto;
  flex: 1;
  margin: 0.7rem 0;
}
